body {
    background-color: antiquewhite;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F1D42;
    background-color: #F0F8E1;
}
.Best{
    color: brown;
}
.card-hover {
    width: 360px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0,0,0,0.08);
    margin: 20px; 
}

.card-hover:hover .card-hover__content {
    background-color: #f3f7b7;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(.1,.72,.4,.97);
}

.card-hover:hover .card-hover__link {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(.1,.72,.4,.97);
}

.card-hover:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(.1,.72,.4,.97);
}

.card-hover__content {
    width: 100%;
    text-align: center;
    background-color: #e1a141;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(.1,.72,.4,.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
    float: left;
}

.card-hover__content::before,
.card-hover__content::after {
    content: '';
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content::before {
    top: -80px;
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content::after {
    bottom: -80px;
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title,.card-hover__text span {
    color: #2d7f0b;
}

.card-hover__text {
    font-size: 0.75rem;
}

.card-hover__link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link:hover svg {
    transform: translateX(4px);
}

.card-hover__link svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #e8c2c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra span {
    color: #2d7f0b;
}

.card-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(.1,.72,.4,.97);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align cards in the center */
}

.card-hover {
    width: 360px;
    height: 450px;
    margin: 20px; /* Add margin between cards */
}